.hero {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: right;

  padding: 60px clamp(10px, 35vw - 300px, 390px);

  /* 🔥 ФОН (управляемый) */
  --bg-x: 50%;
  --bg-y: 20%;
  --bg-size: cover;

  background-size: var(--bg-size);
  background-position: var(--bg-x) var(--bg-y);
  background-repeat: no-repeat;

  overflow: hidden;
 height: clamp(550px, 18.75vw + 490px, 850px);
}



/* ❌ убрали glow */
.bgGlow {
  display: none;
}

/* 🔥 теперь просто контейнер */
.heroCard {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 1100px;

  background: transparent;
  border: none;
  padding: 0;
}

/* 🔥 одна колонка вместо двух */
.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  align-items: end;

  max-width: 520px;
}

/* ❌ убрали фото */
.left {
  display: none;
}

/* RIGHT */
.right {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* TEXT */
.hey {
  font-size: 2.2rem;
  color: #ccc;
}

.wave {
  display: inline-block;
  animation: wave 2s infinite;
}

@keyframes wave {
  0% { transform: rotate(0); }
  20% { transform: rotate(20deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(15deg); }
  100% { transform: rotate(0); }
}

.title {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.1;
  max-width: 520px;

  color: #fff;
}

.intro {
  font-size: 1.25rem;
  color: #ddd;
  max-width: 500px;
  
}

/* ❌ полностью убрали подписку */
.subscribe {
  display: none;
}

/* ========================= */
/* 📱 MOBILE */
/* ========================= */

@media (max-width: 900px) {

  .hero {
    padding: 40px 16px;

    /* можно отдельно двигать фон */
    --bg-x: 0%;

  }

  .content {
    text-align: center;
    justify-items: center;
  }

  .title {
    font-size: 2rem;
    line-height: 1.2;
    max-width: 100%;
  }

  .intro {
    max-width: 100%;
    font-size: 0.95rem;
  }
}

@media (max-width: 650px) {

  .hero {
    padding: 20px 10px;

    /* ещё ниже для маленьких экранов */
    --bg-x: 20%;
  }

  .title {
    font-size: 1.6rem;
  }

  .hey {
    font-size: 1rem;
  }

  .intro {
    font-size: 0.9rem;
  }
}
@media (max-width: 430px) {

  .hero {
    padding: 20px 10px;
    height: 600px;


    /* ещё ниже для маленьких экранов */
    --bg-x: 31%;
      --bg-size: 250%;

  background-size: var(--bg-size);
  background-position: var(--bg-x) var(--bg-y);
  background-repeat: no-repeat;
  background-color: #000;
  }
  .content {
    text-align: center;
    justify-items: center;
    gap: 5px;
  }
  .title {

    font-size: 1.6rem;
  }

  .hey {
        margin-top: 400px;
    font-size: 1rem;
  }

  .intro {
    font-size: 0.9rem;
  }
}